<% include ./partials/header%>
<div class="ui main text container">
    <div class="ui huge header">
        <%=post.title%>
    </div>
    
    <div class="ui top attached segment">
        <div class="item">
            <img class="ui centered rounded image" src="<%=post.image%>">
            <div class="content">
                <span><%=post.created.toDateString();%></span>
            </div>
            <div class="description">
                <p><%=post.body%></p>
            </div>
        </div>
        <a class="ui basic button yellow "href="/blog/<%=post._id%>/edit">Edit</a>
        <form action="/blog/<%=post._id%>?_method=DELETE" method="POST" id="delete">
            <button class="ui basic button red">Delete</button>
        </form>
    </div>
</div>
<% include ./partials/footer%>